In [2]:
import torch
import gymnasium as gym
from stable_baselines3 import PPO

print("CUDA Available:", torch.cuda.is_available())
print("Gym version:", gym.__version__)
print("SB3 Test Agent Init:", PPO)

CUDA Available: True
Gym version: 0.29.1
SB3 Test Agent Init: <class 'stable_baselines3.ppo.ppo.PPO'>

In [4]:
import yfinance as yf
start_date = '2025-06-01'
end_date = '2025-07-30'
# start_date = '2025-07-14'
# end_date = '2025-07-30'


# Define the ticker symbol (you can change it to 'AAPL', 'BTC-USD', 'TSLA', etc.)
ticker_symbol = 'ETH-USD'
ticker = yf.Ticker(ticker_symbol)
df = ticker.history(start=start_date, end = end_date, interval='5m')
df.drop(columns=["Stock Splits", "Dividends"], inplace=True)
df.to_csv(f'./data/{ticker_symbol}_test_data.csv')
df.head()

,Open,High,Low,Close,Volume
Datetime,,,,,
2025-06-01 00:00:00+00:00,2529.181641,2529.325928,2527.150635,2527.150635,0
2025-06-01 00:05:00+00:00,2526.469727,2527.231201,2526.469727,2526.647705,69450752
2025-06-01 00:10:00+00:00,2527.433594,2527.433594,2519.980225,2519.980225,0
2025-06-01 00:15:00+00:00,2520.643311,2520.643311,2518.642334,2519.079590,31013888
2025-06-01 00:20:00+00:00,2520.566650,2523.027100,2519.724365,2519.724365,591410176